<h1>Tasks bitch</h1>
<%= render 'form' %>

<ul>
  <% for task in @tasks %>
  <li id="=task_<%= task.id %>">
    <%= task.task %></li>
    | <%= link_to 'Edit', edit_task_path(task) %>
    | <%= link_to("Delete", task_path(@task), method: :delete, data: {confirm: "Are you freaking sure?"}) %>
  <% end %>
</ul>
